{
  "securityDefinitions": {
    "API key in header": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API key in header": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Access information from the CyberRisk platform programmatically using this API.\n\nYou can find or generate an API key to access this API in your CyberRisk Account Settings.\nPlease authorize all requests by setting the \"Authorization\" header to your api key.\n\nThe base url for all public endpoints is https://cyber-risk.upguard.com/api/public",
    "title": "UpGuard CyberRisk API",
    "version": "1.11.1"
  },
  "host": "cyber-risk.upguard.com",
  "basePath": "/api/public",
  "paths": {
    "/available_risks": {
      "get": {
        "description": "Returns a list of available risks in the UpGuard platform with detailed info. Please note this version of the endpoint has been deprecated, and v2 should be used instead.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of available risks in the platform",
        "operationId": "available_risks",
        "deprecated": true,
        "responses": {
          "200": {
            "$ref": "#/responses/getAvailableRisksResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/available_risks/risk": {
      "get": {
        "description": "Returns the details for a risk.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get details for a risk in the platform",
        "operationId": "risk",
        "parameters": [
          {
            "type": "string",
            "description": "ID of the risk to fetch details for",
            "name": "risk_id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getRiskDetailResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/available_risks/v2": {
      "get": {
        "description": "Returns a list of available risks in the UpGuard platform with detailed info.\n\nSome risks in the platform are generic risks like \"exposed_service:*\". The values of some of the fields for these risks\ndepends on the details of the risk, e.g. which particular service is exposed. As such these fields are omitted from the response.\n\nTo get the full details for a specific risk, e.g. \"exposed_service:FTP\", use the risk details endpoint which will return\nthe full information for the particular service.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of available risks in the platform",
        "operationId": "available_risks_v2",
        "responses": {
          "200": {
            "$ref": "#/responses/getAvailableRisksV2Response"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/breach": {
      "get": {
        "description": "Returns the details of an identity breach.\n\nRequired API key permissions: `IdentityBreaches` (select when creating API key in Account Settings)",
        "tags": [
          "breaches"
        ],
        "summary": "Get the details for an identity breach",
        "operationId": "identity_breach",
        "parameters": [
          {
            "type": "string",
            "description": "The ID of the breach to fetch",
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getIdentityBreachResponse"
          },
          "404": {
            "$ref": "#/responses/notFound404Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/breaches": {
      "get": {
        "description": "Returns a list of identities ordered by last breached date.\n\nRequired API key permissions: `IdentityBreaches` (select when creating API key in Account Settings)",
        "tags": [
          "breaches"
        ],
        "summary": "Get a list of breached identities",
        "operationId": "breached_identities",
        "parameters": [
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "name",
              "domain",
              "num_breaches",
              "date_last_breach"
            ],
            "type": "string",
            "default": "date_last_breach",
            "description": "The value to sort the breached identities by\n\nIf not specified will default to `date_last_breach` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The breach ID to filter on",
            "name": "breach_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getBreachedIdentitiesResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/bulk/hostnames": {
      "get": {
        "description": "Get the list of registered hostnames and their risks. You can use the omit_risks,\nomit_vendor, omit_score and omit_labels query parameter to turn off these information\nfrom the response and quickly get a list of registered hostnames.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": [
          "bulk"
        ],
        "summary": "List hostnames and their risks",
        "operationId": "bulk_list_hostnames",
        "parameters": [
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 200,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether to sort the results in descending order.",
            "name": "sort_desc",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the scan information, i.e. risks, score and last scanned at.",
            "name": "omit_scan_info",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the vendor information for a hostname in the response.",
            "name": "omit_vendor",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the labels for a hostname in the response.",
            "name": "omit_labels",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Exclude active hostnames from the results.",
            "name": "exclude_active",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Exclude inactive hostnames from the results.",
            "name": "exclude_inactive",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": "false",
            "description": "Filter results to only hostnames that have all the provided labels.",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listBulkHostnamesSuccessful"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      },
      "post": {
        "description": "Register a list of hostnames to be scanned for risks. The provided hostnames must be fully qualified domain names\nor IPv4 addresses. Currently, a maximum of 1000 hostnames in a single request is supported. This will always replace\nthe labels of currently registered hostnames and if the request has empty labels they will all be removed.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": [
          "bulk"
        ],
        "summary": "Register a list of hostnames to be scanned for risks",
        "operationId": "bulk_register_hostnames",
        "parameters": [
          {
            "name": "BulkRegisterHostnamesV1RequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BulkRegisterHostnamesV1RequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/registerBulkHostnamesSuccessful"
          },
          "402": {
            "$ref": "#/responses/invalidLimitExceedError"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      },
      "delete": {
        "description": "Deregister a list of hostnames. The provided hostnames must be fully qualified domain names\nor IPv4 addresses. Currently, a maximum of 1000 hostnames in a single request is supported.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": [
          "bulk"
        ],
        "summary": "Deregister a list of hostnames",
        "operationId": "bulk_deregister_hostnames",
        "parameters": [
          {
            "name": "BulkDeregisterHostnamesV1RequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BulkDeregisterHostnamesV1RequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deregisterBulkHostnamesSuccessful"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/bulk/hostnames/stats": {
      "get": {
        "description": "Get statistics for the registered hostnames. This will return the number of registered hostnames, the number of\nremaining slots and the number of active and inactive hostnames\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": [
          "bulk"
        ],
        "summary": "Get statistics around registered bulk hostnames",
        "operationId": "bulk_get_hostnames_stats",
        "responses": {
          "200": {
            "$ref": "#/responses/getBulkHostnamesStatsSuccessful"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/bulk/hostnames/{hostname}": {
      "get": {
        "description": "Get the details for a hostname. The provided hostname must be a fully\nqualified domain name or an IPv4 address.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": [
          "bulk"
        ],
        "summary": "Get the details for a hostname",
        "operationId": "bulk_get_hostname_details",
        "parameters": [
          {
            "type": "string",
            "format": "hostname",
            "description": "The hostname to fetch details for. It must be a fully qualified domain name or an IPv4 address.",
            "name": "hostname",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the scan information, i.e. risks, score and last scanned at.",
            "name": "omit_scan_info",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the vendor information for a hostname in the response.",
            "name": "omit_vendor",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the labels for a hostname in the response.",
            "name": "omit_labels",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getBulkHostnameDetailsSuccessful"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/bulk/hostnames/{hostname}/labels": {
      "put": {
        "description": "Assign labels to a hostname replacing the existing ones if any. To remove all labels use an empty array in the request.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": [
          "bulk"
        ],
        "summary": "Assign new labels to a hostname",
        "operationId": "bulk_hostname_put_labels",
        "parameters": [
          {
            "type": "string",
            "format": "hostname",
            "description": "The hostname to fetch details for. It must be a fully qualified domain name or an IPv4 address.",
            "name": "hostname",
            "in": "path",
            "required": true
          },
          {
            "example": "[\"network\", \"data\"]",
            "description": "Labels list",
            "name": "labels",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/dataleaks/disclosures": {
      "get": {
        "description": "Returns a list of the disclosures in your account matching the given filters.\n\nRequired API key permissions: `DataLeaks` (select when creating API key in Account Settings)",
        "tags": [
          "dataleaks"
        ],
        "summary": "Get a list of disclosures",
        "operationId": "dataleaks_disclosures",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "description": "The minimum (non-inclusive) timestamp of a disclosure (RFC 3339 format).",
            "name": "min_time",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The maximum (non-inclusive) timestamp of a disclosure (RFC 3339 format).",
            "name": "max_time",
            "in": "query"
          },
          {
            "enum": [
              "Disclosed",
              "Acknowledged",
              "Investigating",
              "Remediating",
              "ClosedNoIssue",
              "ClosedRiskAccepted",
              "ClosedFixedUnverified",
              "ClosedFixedVerified"
            ],
            "type": "string",
            "description": "A comma-delimited list of statuses that disclosures should match.",
            "name": "statuses",
            "in": "query"
          },
          {
            "type": "string",
            "description": "A comma-delimited list of IDs that disclosures should match.",
            "name": "ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getDataLeaksDisclosuresResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/dataleaks/disclosures/status": {
      "put": {
        "description": "Required API key permissions: `DataLeaks` (select when creating API key in Account Settings)",
        "tags": [
          "dataleaks"
        ],
        "summary": "Update the status of a disclosure",
        "operationId": "dataleaks_disclosures_update_status",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the disclosure",
            "name": "disclosure_id",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "Acknowledged",
              "Investigating",
              "Remediating",
              "ClosedNoIssue",
              "ClosedRiskAccepted",
              "ClosedFixedUnverified"
            ],
            "type": "string",
            "description": "The new status for the disclosure",
            "name": "new_status",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The email address of the user changing the status (must have a Cyber Risk account with the \"Data Leaks\" role).",
            "name": "user_email",
            "in": "query"
          },
          {
            "type": "string",
            "description": "A comment to accompany the status change, if required",
            "name": "comment",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/domain": {
      "get": {
        "description": "Returns the details for a domain. It will return 422 when requesting details of an inactive domain.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "domains"
        ],
        "summary": "Retrieve details for a domain",
        "operationId": "domain_details",
        "parameters": [
          {
            "type": "string",
            "description": "The hostname for which to return the details, e.g. \"upguard.com\"",
            "name": "hostname",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getDomainDetailsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/domain/labels": {
      "put": {
        "description": "Assign labels to a domain. To remove all labels pass an empty list.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "domains"
        ],
        "summary": "Assign labels to a domain",
        "operationId": "domain_update_labels",
        "parameters": [
          {
            "type": "string",
            "description": "The hostname to update labels for",
            "name": "hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the domain. You can pass an empty array to remove all labels.",
            "name": "labels",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "description": "Returns a list of domains for your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "domains"
        ],
        "summary": "Get a list of domains",
        "operationId": "domains",
        "parameters": [
          {
            "type": "boolean",
            "default": true,
            "description": "Retrieve active domains",
            "name": "active",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Retrieve inactive domains",
            "name": "inactive",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "domain",
              "active",
              "automated_score",
              "scanned_at"
            ],
            "type": "string",
            "default": "domain",
            "description": "The value to sort the domains by\n\nIf not specified will default to `domain` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getDomainsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      },
      "put": {
        "description": "Add a list of custom domains to your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "domains"
        ],
        "summary": "Add custom domains",
        "operationId": "add_custom_domains",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A comma separated list of hostnames to add",
            "name": "hostnames",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to add to the hostnames",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      },
      "delete": {
        "description": "Remove custom domains from your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "domains"
        ],
        "summary": "Remove custom domains",
        "operationId": "remove_custom_domains",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A comma separated list of hostnames to remove. Only hostnames or labels can be specified not both",
            "name": "hostnames",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of labels whose hostnames will be removed. All custom domains with at least one of the provided labels will be removed. Only hostnames or labels can be specified not both",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/ip": {
      "get": {
        "description": "Returns the details of the IP address. It will return 422 when requesting details of an inactive IP address.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "ips"
        ],
        "summary": "Retrieve details for an IP address",
        "operationId": "ip_details",
        "parameters": [
          {
            "type": "string",
            "description": "The IP address to get details for",
            "name": "ip",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getIpDetailsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/ip/labels": {
      "put": {
        "description": "Assign labels to an IP. To remove all labels pass an empty list.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "ips"
        ],
        "summary": "Assign labels to an IP",
        "operationId": "ip_update_labels",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The IP to update labels for",
            "name": "ip",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the IP. You can pass an empty array to remove all labels.",
            "name": "labels",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/ips": {
      "get": {
        "description": "Returns a list of ips for your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "ips"
        ],
        "summary": "Get a list of ips",
        "operationId": "ips",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "ip",
              "owner",
              "country",
              "asn",
              "as_name",
              "automated_score"
            ],
            "type": "string",
            "default": "ip",
            "description": "The value to sort the IPs by\n\nIf not specified will default to `ip` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getIPsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      },
      "put": {
        "description": "Add a list of custom ips to your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "ips"
        ],
        "summary": "Add custom ips",
        "operationId": "add_custom_ips",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of ips to add",
            "name": "ips",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the ips when added.",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      },
      "delete": {
        "description": "Remove custom ips from your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "ips"
        ],
        "summary": "Remove custom ips",
        "operationId": "remove_custom_ips",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A comma separated list of ips to remove. Only ips or labels can be specified not both",
            "name": "ips",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of labels whose domains will be removed. All custom IPs with at least one of the provided labels will be removed. Only ips or labels can be specified not both",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/labels": {
      "get": {
        "description": "Returns the list of labels for your account.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "labels"
        ],
        "summary": "Get the list of registered labels",
        "operationId": "labels",
        "responses": {
          "200": {
            "$ref": "#/responses/getLabelsResponse"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "description": "Returns a list of notifications ordered by their ID. By default, only notifications from the last 7 days are returned.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": [
          "notifications"
        ],
        "summary": "Get a list of notifications for your organization.",
        "operationId": "get_notifications",
        "responses": {
          "200": {
            "$ref": "#/responses/getNotificationsV1Response"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/organisation": {
      "get": {
        "description": "Returns the information of the organisation associated with the API key used for the request.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "organisation"
        ],
        "summary": "Get the current organisation",
        "operationId": "getOrganisationV1",
        "responses": {
          "200": {
            "$ref": "#/responses/getOrganisationV1"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/ranges": {
      "get": {
        "description": "Returns a list of ip ranges for your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "ips"
        ],
        "summary": "Get a list of ip ranges",
        "operationId": "ranges",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "start",
              "end",
              "num_ips",
              "owner",
              "country",
              "asn",
              "as_name"
            ],
            "type": "string",
            "default": "num_ips",
            "description": "The value to sort the IP ranges by\n\nIf not specified will default to `num_ips` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getRangesResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/reports/custom": {
      "get": {
        "description": "Use this endpoint to retrieve the list of custom report templates defined for your account.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "reports"
        ],
        "summary": "Get the list of custom report templates defined for the account",
        "operationId": "custom_reports_list",
        "responses": {
          "200": {
            "$ref": "#/responses/customReportsListV1Response"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/reports/queue": {
      "post": {
        "description": "Asynchronously queues a report for exporting. To use this API, first call this endpoint with the type of report you wish to\ngenerate and any other filtering parameters. You can optionally specify a list of email addresses or a URL\nthat will receive a POST request when the export completes.\n\nWhen a report is queued, you will receive a unique queued_report_id. Use this ID to check the status of the export using the\n`/reports/status` endpoint.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "reports"
        ],
        "summary": "Queue a report export",
        "operationId": "queue_report",
        "parameters": [
          {
            "enum": [
              "BoardSummaryPDF",
              "BoardSummaryPPTX",
              "BreachSightSummaryPDF",
              "BreachSightDetailedPDF",
              "VendorRiskExecutiveSummaryPDF",
              "VendorSummaryPDF",
              "VendorDetailedPDF",
              "VendorRiskAssessmentPDF",
              "CustomPDF",
              "VendorRiskProfileXLSX",
              "VendorVulnsOverviewXLSX",
              "VendorDomainListPDF"
            ],
            "type": "string",
            "description": "The type of report to export. Note that each report type may require different parameters to be specified in the request.\n\nWhen *VendorRiskAssessmentPDF* is selected the latest published risk assessment will be used, if no published risk assessment is available for the selected vendor a 422 error will be returned.",
            "name": "report_type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "For an export of type 'CustomPDF', specify the UUID of the custom report to generate. This is a required field for the custom report type.",
            "name": "custom_report_uuid",
            "in": "query"
          },
          {
            "maxItems": 5,
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Optionally email the generated report to the specified addresses when it is ready.",
            "name": "email_addresses",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uri",
            "description": "Optionally specify a URL that will receive a POST request when the report is ready.\nThe request will contain a JSON body containing a URL to download the report, in the following format:\n```json\n{\n\"queued_report_id\": \"string\",\n\"download_url\": \"url\"\n\"download_url_expires\": \"string\"\n}\n```",
            "name": "post_webhook_url",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by asset portfolio names. Case-sensitive. Optional. Applicable only when *report_type* is *BreachSightSummaryPDF* or *BreachSightDetailedPDF*.",
            "name": "asset_portfolio_names",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by vendor portfolio names. Case-sensitive. Optional. Applicable only when *report_type* is *BoardSummaryPDF*, *BoardSummaryPPTX*, or *VendorRiskExecutiveSummaryPDF*.",
            "name": "vendor_portfolio_names",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the vendor to generate the report for. Either this, *vendor_primary_hostname* or *filter_by_vendor_hostnames* are required when *report_type* is *VendorSummaryPDF*, *VendorDetailedPDF*, *VendorRiskAssessmentPDF*, *CustomPDF*, *VendoriskProfileXLSX*, *VendorVulnsOverviewXLSX* or *VendorDomainListPDF*.",
            "name": "vendor_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Primary hostname of the vendor to generate the report for. Either this, *vendor_id* or *filter_by_vendor_hostnames* are required when *report_type* is *VendorSummaryPDF*, *VendorDetailedPDF*, *VendorRiskAssessmentPDF*, *CustomPDF*, *VendorRiskProfileXLSX*, *VendorVulnsOverviewXLSX*, or *VendorDomainListPDF*.",
            "name": "vendor_primary_hostname",
            "in": "query"
          },
          {
            "type": "string",
            "description": "List of hostnames from a single vendor to generate the report for. Either this, *vendor_id* or *vendor_primary_hostname* are required when *report_type* is *VendorSummaryPDF*, *VendorDetailedPDF*, *CustomPDF*, *VendorRiskProfileXLSX*, *VendorVulnsOverviewXLSX*, or *VendorDomainListPDF*.",
            "name": "filter_by_vendor_hostnames",
            "in": "query"
          },
          {
            "type": "string",
            "description": "String to use as the first part of the report filename. For vendor reports this will precede the vendor name, and for others the account name.\nA maximum of the first 20 characters (runes) of the supplied string will be used",
            "name": "filename_prefix",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "When requesting a vendor report, determine if the report should wait for the appropriate data to become available. This is typical of\nreports where the vendor may have only just become known by the system, or the vendor only just been watched by the account. Typically, the report\ngeneration and delivery is delayed by up to 72 hours to allow for the data to become available. This parameter is only valid when *report_type* is\nVendorSummaryPDF*, *VendorDetailedPDF*, *CustomPDF*, *VendorRiskProfileXLSX*, *VendorVulnsOverviewXLSX*, or *VendorDomainListPDF*.",
            "name": "wait_for_data",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/queueReportV1Response"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/reports/status": {
      "get": {
        "description": "Poll this endpoint for the status of a report export you have queued. When complete, you will receive a download URL.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": [
          "reports"
        ],
        "summary": "Get the status of an exported report",
        "operationId": "report_status",
        "parameters": [
          {
            "type": "string",
            "description": "The queued_report_id returned from the /reports/queue endpoint.",
            "name": "queued_report_id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/reportStatusV1Response"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/risks": {
      "get": {
        "description": "Returns a list of risks that have been detected for your account.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of active risks for your account",
        "operationId": "risks",
        "parameters": [
          {
            "enum": [
              "info",
              "low",
              "medium",
              "high",
              "critical"
            ],
            "type": "string",
            "default": "info",
            "description": "Minimum severity for the risks",
            "name": "min_severity",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include metadata for risks",
            "name": "include_meta",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getRisksResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/risks/diff": {
      "get": {
        "description": "Returns a list of the risks introduced and risks resolved for domains or IPs between two dates.\n\nRisks resolved are not computed for dates prior to 2018-11-01 00:00:00.\n\nPreviously provisional risks that are now scored will appear in the list of risks introduced.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of risk changes for your account",
        "operationId": "org_risks_diff",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format).",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.",
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getRisksDiffResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/risks/vendors": {
      "get": {
        "description": "Returns a list of risks that have been detected for a particular vendor.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of active risks for a vendor",
        "operationId": "vendor_risks",
        "parameters": [
          {
            "type": "string",
            "example": "upguard.com",
            "description": "The primary hostname of the vendor to return risks for",
            "name": "primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "info",
              "low",
              "medium",
              "high",
              "critical"
            ],
            "type": "string",
            "default": "info",
            "description": "Minimum severity for the risks",
            "name": "min_severity",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include metadata for risks,\n`include_meta` and 'exclude_hostnames' cannot both be true",
            "name": "include_meta",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Exclude hostnames for risks,\n`include_meta` and 'exclude_hostnames' cannot both be true",
            "name": "exclude_hostnames",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getRisksResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/risks/vendors/diff": {
      "get": {
        "description": "Returns a list of the risks introduced and risks resolved for domains or IPs between two dates.\n\nThe maximum allowed interval is 30 days.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of risk changes for a vendor",
        "operationId": "vendor_risks_diff",
        "parameters": [
          {
            "type": "string",
            "example": "upguard.com",
            "description": "The primary hostname for a vendor",
            "name": "vendor_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format). Must be in the last 2 years.",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.",
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getRisksDiffResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "404": {
            "$ref": "#/responses/notFound404Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/risks/vendors/diffs": {
      "get": {
        "description": "Returns a list of the risks introduced and risks resolved for domains or IPs between two dates across your monitored vendors.\n\nThe maximum allowed interval is 30 days.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of risk changes for monitored vendors",
        "operationId": "vendors_risks_diff",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format).",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.",
            "name": "end_date",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The token of the page to be returned.\nWill return the first page if left blank.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 200,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 20,
            "description": "The number of results to return per page.\nValid values range from 10 to 200.\nDefaults to 20 if unset.",
            "name": "page_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorsRisksDiffResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "404": {
            "$ref": "#/responses/notFound404Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/risks/vendors/questionnaires": {
      "get": {
        "description": "Returns a list of currently open questionnaire risks for one or more of an account's watched vendors. Please note this version of the endpoint has been deprecated, and v2 should be used instead.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "Get a list of questionnaire risks for one or more watched vendors or a specific questionnaire",
        "operationId": "vendor_questionnaire_risks",
        "deprecated": true,
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Restricts the questionnaire risks returned to a specific watched vendor by ID",
            "name": "vendor_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Restricts the questionnaire risks returned to a specific watched vendor by vendor primary hostname",
            "name": "primary_hostname",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Restricts the questionnaire risks returned to a specific questionnaire by ID",
            "name": "questionnaire_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The token of the page to be returned.\nWill return the first page if left blank.",
            "name": "page_token",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The number of risks to return per page.\nThis Integer between 10 and 2000 defaults to 1000 if not supplied.",
            "name": "page_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorQuestionnaireRisksResponse"
          },
          "403": {
            "$ref": "#/responses/forbiddenError"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/risks/vendors/questionnaires/v2": {
      "get": {
        "description": "Returns a list of currently open questionnaire risks for one or more of an account's watched vendors, including information on whether waivers exist for each risk.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "risks"
        ],
        "summary": "(V2) Get a list of questionnaire risks for one or more watched vendors or a specific questionnaire",
        "operationId": "vendor_questionnaire_risks_v2",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Restricts the questionnaire risks returned to a specific watched vendor by ID",
            "name": "vendor_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Restricts the questionnaire risks returned to a specific watched vendor by vendor primary hostname",
            "name": "primary_hostname",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Restricts the questionnaire risks returned to a specific questionnaire by ID",
            "name": "questionnaire_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The token of the page to be returned.\nWill return the first page if left blank.",
            "name": "page_token",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The number of risks to return per page.\nThis Integer between 10 and 2000 defaults to 1000 if not supplied.",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Indicates that waived risks should not be returned in the risk set",
            "name": "ignore_waived_risks",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorQuestionnaireRisksResponseV2"
          },
          "403": {
            "$ref": "#/responses/forbiddenError"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiaries": {
      "get": {
        "description": "Returns a list of subsidiaries.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "Get a list of subsidiaries",
        "operationId": "subsidiaries",
        "responses": {
          "200": {
            "$ref": "#/responses/getSubsidiariesResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiary/domain": {
      "get": {
        "description": "Returns the details for a domain. It will return 422 when requesting details of an inactive domain.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "Retrieve details for a domain",
        "operationId": "subsidiary_domain_details",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the subsidiary to show the domain detail for.",
            "name": "subsidiary_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The hostname for which to return the details, e.g. \"upguard.com\"",
            "name": "hostname",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getDomainDetailsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiary/domain/labels": {
      "put": {
        "description": "Assign labels to a domain. To remove all labels pass an empty list.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "Assign labels to a domain",
        "operationId": "subsidiary_domain_update_labels",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the subsidiary to update the domain labels for.",
            "name": "subsidiary_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The hostname to update labels for",
            "name": "hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the domain. You can pass an empty array to remove all labels.",
            "name": "labels",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiary/domains": {
      "get": {
        "description": "Returns a list of domains for a subsidiary.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "List subsidiary domains",
        "operationId": "subsidiary_domains",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the subsidiary to show domains for.",
            "name": "subsidiary_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Retrieve active domains",
            "name": "active",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Retrieve inactive domains",
            "name": "inactive",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "domain",
              "active",
              "automated_score",
              "scanned_at"
            ],
            "type": "string",
            "default": "domain",
            "description": "The value to sort the domains by\n\nIf not specified will default to `domain` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getDomainsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiary/ip": {
      "get": {
        "description": "Returns the details of the IP address. It will return 422 when requesting details of an inactive IP address.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "Retrieve details for an IP address",
        "operationId": "subsidiary_ip_details",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the subsidiary to show the IP detail for.",
            "name": "subsidiary_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The IP address to get details for",
            "name": "ip",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getIpDetailsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiary/ip/labels": {
      "put": {
        "description": "Assign labels to an IP. To remove all labels pass an empty list.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "Assign labels to an IP",
        "operationId": "subsidiary_ip_update_labels",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the subsidiary to update the IP labels for.",
            "name": "subsidiary_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The IP to update labels for",
            "name": "ip",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the IP. You can pass an empty array to remove all labels.",
            "name": "labels",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiary/ips": {
      "get": {
        "description": "Returns a list of ips for a subsidiary.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "List subdiary ips",
        "operationId": "subsidiary_ips",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the subsidiary to show ips for.",
            "name": "subsidiary_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "ip",
              "owner",
              "country",
              "asn",
              "as_name",
              "automated_score"
            ],
            "type": "string",
            "default": "ip",
            "description": "The value to sort the IPs by\n\nIf not specified will default to `ip` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getIPsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/subsidiary/ranges": {
      "get": {
        "description": "Returns a list of ip ranges for a subsidiary.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "subsidiaries"
        ],
        "summary": "List subsidiary ip ranges",
        "operationId": "subsidiary_ranges",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the subsidiary to show ranges for.",
            "name": "subsidiary_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "start",
              "end",
              "num_ips",
              "owner",
              "country",
              "asn",
              "as_name"
            ],
            "type": "string",
            "default": "num_ips",
            "description": "The value to sort the IP ranges by\n\nIf not specified will default to `num_ips` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getRangesResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/typosquat": {
      "get": {
        "description": "Returns the list of enabled typosquatting domains.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "typosquat"
        ],
        "summary": "List typosquat domains",
        "operationId": "listTyposquatDomains",
        "responses": {
          "200": {
            "$ref": "#/responses/getTyposquatResponse"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/typosquat/details": {
      "get": {
        "description": "If the requested domain is not enabled a 404 will be returned.\nUse the /typosquat to retrieve the list of enabled domains first.\n\nRequired API key permissions: `BreachSight` (select when creating API key in Account Settings)",
        "tags": [
          "typosquat"
        ],
        "summary": "Retrieve typosquat details for a domain.",
        "operationId": "typosquat_details",
        "parameters": [
          {
            "type": "string",
            "description": "The domain for which to return typosquat details. e.g. \"upguard.com\"",
            "name": "domain",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getTyposquatDetails"
          },
          "404": {
            "$ref": "#/responses/getTyposquatDetails404Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor": {
      "get": {
        "description": "The following assertions are evaluated (in order) to determine whether you are licensed to view the vendor data (as soon as one assertion returns \"true\", the vendor data will be returned):\n1. You are currently monitoring the vendor in CyberRisk\n2. You have set \"start_monitoring\" to \"true\" AND are not currently monitoring all the vendors you are licensed for in CyberRisk\n3. You have set \"generate_ad_hoc_report\" to \"true\" and have not currently used your monthly allocation of ad-hoc reports in CyberRisk.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "vendors"
        ],
        "summary": "Get vendor details",
        "operationId": "vendor",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "example": 123456789,
            "description": "The ID of the vendor for which to return vendor data. e.g. 123456789",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "upguard.com",
            "description": "The hostname for which to return vendor data. e.g. \"upguard.com\".\nRequired when id is not specified. When id is specified this field will be ignored.",
            "name": "hostname",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "When set to true, if you haven't already used your monthly allocation of ad-hoc reports,\ngenerate an ad-hoc report for the given vendor, and return the vendor data.",
            "name": "generate_ad_hoc_report",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "NOTE: deprecated (use vendor/monitor instead).\nWhen set to true, if the vendor is not already being monitored,\nand if you are not already monitoring all the vendors your are licensed for,\nstart monitoring the vendor, and return the vendor data.",
            "name": "start_monitoring",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "NOTE: deprecated (use vendor/monitor instead).\nThe labels to assign to the vendor if start monitoring set to true.\nIf you want to update the labels for an already monitored vendor use the /vendor/labels endpoint.",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "NOTE: deprecated (use vendor/monitor instead).\nThe tier to assign to the vendor if start monitoring is set to true.",
            "name": "tier",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Flag indicating whether the request should wait for scan results on new unknown vendors",
            "name": "wait_for_scan",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorResponse"
          },
          "202": {
            "$ref": "#/responses/getVendor202Response"
          },
          "402": {
            "$ref": "#/responses/getVendor402Error"
          },
          "404": {
            "$ref": "#/responses/notFound404Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/additionalevidence": {
      "get": {
        "description": "Returns the body of one or more additional evidence documents that have been attached to a specific vendor.\nIf multiple additional evidence documents are requested, then by default the files are returned as a multi-part mime response.\nAlternately, the zip option can be used to return multiple files as a single zip archive",
        "produces": [
          "image/jpeg",
          "image/png",
          "application/octet-stream",
          "Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)"
        ],
        "tags": [
          "vendors"
        ],
        "summary": "Retrieve (one or more) vendor additional evidence documents by id",
        "operationId": "additional_evidence",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "a comma-separated list of one or more additional evidence instances (by unique id)",
            "name": "evidence_ids",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "indicates that for multiple additional evidence requests, the files should be returned as a multi-file zip",
            "name": "zip",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorAdditionalEvidenceResponse"
          },
          "300": {
            "$ref": "#/responses/multipleChoicesError"
          },
          "403": {
            "$ref": "#/responses/forbiddenError"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/additionalevidence/list": {
      "get": {
        "description": "Returns a list of additional evidence instances that have been uploaded against this vendor in chronological order of when they were uploaded.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "vendors"
        ],
        "summary": "List vendor additional evidence instances",
        "operationId": "additional_evidences_list",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the vendor to show additional evidence for.",
            "name": "vendor_primary_hostname",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The token of the page to be returned.\nWill return the first page if left blank.",
            "name": "page_token",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The number of results to return per page.\nValid values range from 10 to 2000.\nDefaults to 1000 if unset.",
            "name": "page_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorAdditionalEvidencesResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/attributes": {
      "put": {
        "description": "Assign or update the attributes for a vendor. To remove an attribute use null as its value in the payload.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "vendors"
        ],
        "summary": "Assign or update the attributes for a vendor",
        "operationId": "vendor_update_attributes",
        "parameters": [
          {
            "name": "UpdateVendorAttributesV1RequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateVendorAttributesV1RequestBody"
            }
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/document": {
      "get": {
        "description": "Returns the body of one or more documents that have been attached to a specific vendor.\nIf multiple documents are requested, then by default the files are returned as a multi-part mime response.\nAlternately, the zip option can be used to return multiple files as a single zip archive",
        "produces": [
          "image/jpeg",
          "image/png",
          "application/octet-stream",
          "Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)"
        ],
        "tags": [
          "vendors"
        ],
        "summary": "Retrieve (one or more) vendor documents by id",
        "operationId": "document",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "a comma-separated list of one or more documents (by unique id)",
            "name": "document_ids",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "indicates that for multiple document requests, the files should be returned as a multi-file zip",
            "name": "zip",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorDocumentResponse"
          },
          "300": {
            "$ref": "#/responses/multipleChoicesError"
          },
          "403": {
            "$ref": "#/responses/forbiddenError"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/documents": {
      "get": {
        "description": "Returns a list of documents that have been uploaded against this vendor in chronological order of when they were uploaded.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "vendors"
        ],
        "summary": "List vendor documents",
        "operationId": "documents",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the vendor to show documents for.",
            "name": "vendor_primary_hostname",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The token of the page to be returned.\nWill return the first page if left blank.",
            "name": "page_token",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The number of results to return per page.\nValid values range from 10 to 2000.\nDefaults to 1000 if unset.",
            "name": "page_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getVendorDocumentsResponse"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/domain": {
      "get": {
        "description": "Returns the details for a domain. It will return 422 when requesting details of an inactive domain.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "vendors"
        ],
        "summary": "Retrieve details for a domain",
        "operationId": "vendor_domain_details",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the vendor to show the domain detail for.",
            "name": "vendor_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The hostname for which to return the details, e.g. \"upguard.com\"",
            "name": "hostname",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getDomainDetailsResponse"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/domain/labels": {
      "put": {
        "description": "Assign labels to a domain. To remove all labels pass an empty list.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "vendors"
        ],
        "summary": "Assign labels to a domain",
        "operationId": "vendor_domain_update_labels",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the vendor to update the domain labels for.",
            "name": "vendor_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The hostname to update labels for",
            "name": "hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the domain. You can pass an empty array to remove all labels.",
            "name": "labels",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "$ref": "#/responses/apiKeyInsufficientPermissions403Error"
          },
          "422": {
            "$ref": "#/responses/invalidParametersError"
          },
          "429": {
            "$ref": "#/responses/tooManyRequests429Error"
          },
          "500": {
            "$ref": "#/responses/internalSystemError"
          }
        }
      }
    },
    "/vendor/domains": {
      "get": {
        "description": "Returns a list of domains for a vendor.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": [
          "vendors"
        ],
        "summary": "List vendor domains",
        "operationId": "vendor_domains",
        "parameters": [
          {
            "type": "string",
            "description": "The primary hostname of the vendor to show domains for.",
            "name": "vendor_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Retrieve active domains",
            "name": "active",
            "in": "query"
          },
          {
            "type": "boolean",
[...]
